root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

[*.{c,cc,cpp,cxx,h,hpp,hxx,inl}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{lua,ps1,cmd,bat,sh,json,yml,yaml}]
indent_style = space
indent_size = 4
tab_width = 4

[*.md]
trim_trailing_whitespace = false
